body {
	background-color: #f6f5f5;
	margin-right: 0px;
	padding: 0px;
  }
  
  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  html {
	scroll-behavior: smooth;
  }
  
  button {
	cursor: pointer;
  }
  
  ul {
	list-style: none;
  }
  
  a {
	text-decoration: none;
  }
  
  ::-webkit-scrollbar {
	width: 8px;
  }
  ::-webkit-scrollbar-track {
	background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
	background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
	background: #555;
  }
  
  section {
	width: 100%;
	background-image: url("img/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 200px;
  }
  
  /* Estilo navegador */
  nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color: #ffffff;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
	padding: 0px 5%;
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  nav ul li a {
	font-family: myriad pro regular;
	color: #505050;
	font-size: 15px;
	font-weight: 700;
  }
  
  nav ul {
	display: flex;
	gap: 30px;
  }
  
  .logo {
	font-family: Arial;
	color: #000000;
	font-size: 22px;
  }
  
  .container {
	background-color: red;
  }
  
  .active {
	font-weight: bold;
	color: #2d2a2a;
  }
  
  /* Estilo Textos */
  .conteudo-texto p:nth-child(1) {
	font-family: calibri;
	font-weight: bold;
	color: #6d6d6d;
	font-size: 22px;
	margin-bottom: 50px;
  }
  
  .conteudo-texto p:nth-child(2) {
	font-family: calibri;
	font-weight: bold;
	letter-spacing: 1px;
	color: #000;
	font-size: 60px;
	margin-bottom: 40px;
  }
  
  .conteudo-texto p:nth-child(3) {
	font-family: myriad pro regular;
	color: #403e3e;
	font-size: 30px;
	line-height: 30px;
  }
  
  .header-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: 0 auto;
	margin-top: 200px;
  }
  
  @media (max-width: 1050px) {
	.header-info {
	  flex-direction: column;
	}
  }
  
  .header-info img {
	width: 400px;
	height: 400px;
	border-radius: 99999px;
	object-fit: cover;
  }
  
  .conteudo-texto button {
	width: 130px;
	height: 42px;
	border-radius: 10px;
	font-family: calibri;
	font-weight: bold;
	font-size: 14px;
	outline: none;
	margin-top: 40px;
  }
  
  .btn1 {
	border: 2px solid #373636;
	color: #373636;
  }
  
  .btn2 {
	background-color: #0b0b0b;
	border: none;
	color: #ffffff;
  }
  
  button:active {
	transform: scale(1.1);
  }
  
  .botao-contato a {
	text-decoration: none;
	color: #fff;
  }
  
  .botao-contato {
	background-color: #262525;
	padding: 10px 20px;
	border: 0;
  }
  
  /* Estilo Imagem banner sem fundo */
  
  .profile-image {
	object-fit: cover;
	border-radius: 20px;
  }
  
  .conteudo-sobre {
	width: 80%;
	background-color: #ffffff;
	border-radius: 20px;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
	display: flex;
	margin: 0 auto;
	display: flex;
	align-items: center;
	gap: 40px;
  }
  
  @media (max-width: 1400px) {
	.conteudo-sobre {
	  flex-direction: column;
	  padding: 20px;
	  margin-top: 420px;
	}
  }
  
  /* Estilo Imagem Sobre eu */
  .conteudo-sobre img {
	width: 100%;
	max-width: 250px;
	height: 100%;
  }
  
  .texto-sobre {
	width: 550px;
	line-height: 25px;
	display: flex;
	flex-direction: column;
	grid-gap: 20px;
  }
  
  @media (max-width: 1050px) {
	.texto-sobre {
	  width: 100%;
	}
  }
  
  .cotexto-sobre p:nth-child(1) {
	color: #403e3e;
	font-family: myriad pro;
	font-weight: bold;
	font-size: 23px;
	line-height: 0px;
  }
  
  .texto-sobre button {
	width: 120px;
	height: 40px;
	color: #ffffff;
	outline: none;
	border: none;
	font-family: calibri;
	background-color: #262525;
  }
  
  /* Seção de Serviços  */
  
  .servicos-textos p:nth-child(2) {
	font-family: calibri;
	font-weight: bold;
	color: #3e3d3d;
	font-size: 30px;
	line-height: 0px;
	margin-bottom: 30px;
  }
  
  .servicos-textos p {
	font-family: calibri;
	font-weight: bold;
	color: #3e3d3d;
	font-size: 32px;
	line-height: 5px;
	margin-bottom: 30px;
  }
  
  .servicos-textos {
	margin-top: 200px;
	margin-left: 180px;
  }
  
  @media (max-width: 400px) {
	.servicos-textos {
	  margin-left: 0px;
	}
  }
  
  .box1,
  .box2,
  .box3,
  .box4 {
	width: 300px;
	height: 320px;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }
  
  .conteudo-box {
	display: flex;
	margin: 0 auto;
	width: 80%;
	gap: 30px;
	justify-content: space-between;
  }
  
  @media (max-width: 1300px) {
	.conteudo-box {
	  align-items: center;
	  flex-direction: column;
	}
  }
  
  .box1 {
	background-image: url("img/services-1.png");
  }
  
  .box2 {
	background-image: url("img/services-2.png");
  }
  
  .box3 {
	background-image: url("img/servies-3.png");
  }
  
  .box4 {
	background-image: url("img/servies-3.png");
  }
  
  .box1 span,
  .box2 span,
  .box3 span,
  .box4 span {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: calibri;
	font-weight: bold;
	margin-top: 10px;
  }
  
  .box1 p:nth-child(2),
  .box2 p:nth-child(2),
  .box3 p:nth-child(2),
  .box4 p:nth-child(2) {
	color: #ffffff;
	font-family: calibri;
	font-size: 23px;
	line-height: 0px;
  }
  
  .box1 p:nth-child(3),
  .box2 p:nth-child(3),
  .box3 p:nth-child(3),
  .box4 p:nth-child(3) {
	font-family: calibri;
	text-align: center;
	width: 250px;
	color: #8f8f8f;
	margin: 0px 0px 20px 0px;
  }
  
  .box1 button,
  .box2 button,
  .box3 button,
  .box4 button {
	width: 100px;
	height: 30px;
	background-color: #ffffff;
	border: none;
	outline: none;
	border-radius: 5px;
	margin-bottom: 10px;
  }
  
  /* Seção fale comigo */
  
  .contato {
	width: 100%;
	background-image: url(img/banner.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 50px;
	padding: 40px;
	gap: 20px;
  }
  
  .contato p {
	color: #141212;
	font-size: 30px;
	font-family: calibri;
	font-weight: bold;
	border-bottom: 2px solid #0c0c0c;
  }
  
  @media (max-width: 1200px) {
	.contato p {
	  border-bottom: 0;
	}
  }
  
  /* Seção footer */
  
  footer {
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
  }
  
  footer p {
	font-family: calibri;
  }
  
  footer p:nth-child(1) {
	font-weight: bold;
	color: #926c6cef;
	line-height: 10px;
	font-size: 30px;
  }
  
  footer p:nth-child(2) {
	font-size: 16px;
	color: #7e7d7d;
	width: 500px;
	text-align: center;
  }
  
  .copy {
	color: #565555;
	font-size: 13px;
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translateX(-50%);
  }
  
